<%- include("./partials/header") %>
<!-- Jumbotron -->
<div class="container-fluid jumbo">
<div class="jumbotron jum">
  <div class="text">
    <div class="wel_button">
      <h1 class="display-4 wel_text">Welcome!</h1>
    </div>
    <!-- <p class="lead">This is a website for young developers who wants learn better programming by doing</p> -->
    <!-- <hr class="my-4"> -->
    <a class="btn btn-success btn-lg color" href="#" role="button">Get Started!</a>
  </div>
</div>
</div>
<div class="overview">
    <h1 class="overview">List of Courses</h1>
</div>
 <div class="courses">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/imgs/c_c++.jpg" alt="...">
        <div class="caption">
          <h4>Programming in C and C++</h4>
          <p>INR 500</p>
          <p><a href="#" class="btn btn-primary" role="button">Get Started!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/imgs/js.jpg" alt="...">
        <div class="caption">
          <h4>Data Structures and Algorithms using Java Script</h4>
            <p>INR 500</p>
          <p><a href="#" class="btn btn-primary" role="button">Get Started!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/imgs/webtech.jpg" alt="...">
        <div class="caption">
          <h4>Web Development Bootcamp</h4>
            <p>INR 500</p>
          <p><a href="#" class="btn btn-primary" role="button">Get Started!</a></p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/imgs/ds.jpg" alt="...">
        <div class="caption">
          <h4>Data Science</h4>
          <p>INR 500</p>
          <p><a href="#" class="btn btn-primary" role="button">Get Started!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/imgs/ml2.jpg" alt="...">
        <div class="caption">
          <h4>Machine Learning using Python and R</h4>
            <p>INR 500</p>
          <p><a href="#" class="btn btn-primary" role="button">Get Started!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/imgs/ai.jpg" alt="...">
        <div class="caption">
          <h4>Artificial Intellegence</h4>
            <p>INR 500</p>
          <p><a href="#" class="btn btn-primary" role="button">Get Started!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div></div>
<%- include("./partials/footer") %>
